.meta {
  font-family: var(--font-serif);
  font-size: var(--text-lg);
  font-style: italic;
  margin: 0 auto 1em;
  max-width: var(--size-max-width);
  padding-bottom: var(--size-gutter);
  padding-left: var(--size-gutter);
  position: relative;
  top: -1em;
}

.article {
  display: grid;
  font-size: var(--text-prose);
  gap: var(--space-xl);
  letter-spacing: var(--text-prose-tracking);
  line-height: var(--loose);
  color: var(--dark);
}

.body {
  color: var(--dark);
  letter-spacing: 0.03em;
}

.article h2:first-of-type {
  margin-top: 0;
}

.article a {
  border-bottom: 1.5px solid currentColor;
  font-weight: var(--medium);
}

.article a:hover {
  border-bottom-color: transparent;
  color: var(--primary);
}

.article p {
  margin-bottom: 1.5em;
  margin-top: 0;
}

.article li {
  margin-bottom: 0.5em;
}

.articleNavigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
}

@media (min-width: 768px) {
  .article {
    gap: var(--space-xl);
  }
}

@media (min-width: 1024px) {
  .article {
    gap: var(--space-3xl);
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  .article ul {
    padding-left: 0;
  }
}

.neighborPost {
  display: flex;
  justify-content: space-between;
}

.article h1 {
  color: #a53a31; /*文字色*/
  /*線の種類（点線）2px 線色*/
  border-bottom: dashed 2px #a53a31;
  font-size: xx-large;
  min-width: 70.7%;
  width: 70.7%;
  margin-right: 0 10px;
  font-family: var(--font-sans);
  padding-bottom: 10px;
}

.article h2 {
  font-size: xx-large;
  font-family: var(--font-sans);
}

.article h3 {
  font-size: x-large;
  font-family: var(--font-sans);
}
