.meta {
  font-family: var(--font-serif);
  font-size: var(--text-lg);
  font-style: italic;
  margin: 0 auto 1em;
  padding-bottom: var(--size-gutter);
  padding-left: var(--size-gutter);
  position: relative;
  top: -1em;
}

.layout {
  display: flex;
}

.subContainer {
  width: 100%;
}

.body {
  color: var(--dark);
  font-size: 16px;
  letter-spacing: 0.01em;
  width: 100%;
}

.article a {
  border-bottom: 1.5px solid currentColor;
  font-weight: var(--medium);
}

.article a:hover {
  border-bottom-color: transparent;
  color: var(--primary);
}

.article p {
  margin-bottom: 1.1em;
  margin-top: 0;
}

.article img {
  margin: 20px 0;
}

.article li {
  margin-bottom: 0.5em;
}

.articleNavigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}

.neighborPost {
  display: flex;
  justify-content: space-between;
}

.article h1 {
  color: #a53a31; /*文字色*/
  /*線の種類（点線）2px 線色*/
  border-bottom: dashed 1px #a53a31;
  font-size: x-large;
  min-width: 70.7%;
  width: 70.7%;
  margin-right: 0 10px;
  padding-top: 60px;
  font-family: var(--font-sans);
  padding-bottom: 10px;
}

.article h2 {
  font-size: 50px;
  font-family: var(--font-sans);
  padding-top: 20px;
}

.article h3 {
  padding-top: 40px;

  font-size: 20px;
  font-family: var(--font-sans);
}

@media (max-width: 768px) {
  .subContainer {
    border-top: dotted 1px var(--border);
    padding-top: 30px;
    margin: 50px auto;
    max-width: 80vw;
  }
  .layout {
    display: block;
    width: 90%;
    margin: 0 auto;
  }

  .body {
    margin: 0 auto;
    max-width: 90vw;
  }
}

@media (min-width: 768px) {
  .article {
    gap: var(--space-xl);
  }
}

@media (min-width: 1024px) {
  .article {
    gap: var(--space-3xl);
    padding: 30px 0;

    width: 100%;
  }

  .article ul {
    padding-left: 0;
  }
}
