@media (max-width: 768px) {
  .container {
    border-top: dotted 1px var(--border);
    padding-top: 30px;
    margin: 50px auto;
    max-width: 80vw;
  }
}

@media (min-width: 768px) {
  .container {
    min-width: 18.3%;
    margin-right: 10%;
  }
}
